<div class="mat-card-wrap">
  <mat-card class="mat-elevation-z8">
    <mat-card-title>Регистрация</mat-card-title>
    <mat-card-content>
      <form (ngSubmit)="onSubmit(f)" #f="ngForm">
        <p *ngIf="error" style="margin-top: 1em">
          <mat-error>Имя пользователя или пароль не совпадают.</mat-error>
        </p>

        <p>
          <mat-form-field>
            <mat-label>Name</mat-label>
            <input matInput ngModel required name="name" type="text" #name="ngModel" />
            <mat-error *ngIf="name.hasError('required')"> Name обязательно для заполнения. </mat-error>
          </mat-form-field>
        </p>

        <p>
          <mat-form-field>
            <mat-label>Email</mat-label>
            <input
              matInput
              ngModel
              required
              email
              autocomplete="email"
              id="email"
              type="email"
              name="email"
              #email="ngModel"
            />
            <mat-error *ngIf="email.invalid && email.hasError('required')">
              Email обязательно для заполнения.
            </mat-error>
            <mat-error *ngIf="email.invalid && email.hasError('email')"> Введите валидный email. </mat-error>
          </mat-form-field>
        </p>

        <p>
          <mat-form-field>
            <mat-label>Пароль</mat-label>
            <input
              matInput
              ngModel
              required
              #password="ngModel"
              autocomplete="current-password"
              id="password"
              [type]="hide ? 'password' : 'text'"
              name="password"
            />
            <button
              type="button"
              mat-icon-button
              matSuffix
              (click)="hide = !hide"
              [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide"
            >
              <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
            </button>
            <mat-error *ngIf="password.invalid && password.hasError('required')" class="invalid-feedback" role="alert">
              Пароль обязательно для заполнения.
            </mat-error>
          </mat-form-field>
        </p>

        <p>
          <mat-form-field>
            <mat-label>Подтвердите пароль</mat-label>
            <input
              matInput
              ngModel
              required
              #confirm_password="ngModel"
              autocomplete="current-password"
              id="confirm_password"
              [type]="hide ? 'password' : 'text'"
              name="confirm_password"
              pattern="{{ password.value }}"
            />
            <button
              type="button"
              mat-icon-button
              matSuffix
              (click)="hide = !hide"
              [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide"
            >
              <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
            </button>
            <mat-error
              *ngIf="confirm_password.invalid && confirm_password.hasError('required')"
              class="invalid-feedback"
              role="alert"
            >
              Пароль обязательно для заполнения.
            </mat-error>
            <mat-error *ngIf="confirm_password.hasError('pattern')" class="invalid-feedback" role="alert">
              Пароли не совпадают.
            </mat-error>
          </mat-form-field>
        </p>

        <div class="button">
          <button
            type="submit"
            mat-flat-button
            color="primary"
            style="width: 100%; height: 3em"
            [disabled]="f.invalid || submitted"
          >
            Зарегистрироваться
          </button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
