@import 'scss/variables';

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.p-3 {
  padding: 1rem;
}

.mt-3 {
  margin-top: 1rem;
}

.w-100 {
  width: 100%;
}

.snackbar-success {
  background-color: $green;
  color: $white;
}
